<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery/jquery-ui-1.10.4.custom.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/travel_expens.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/travel_expens_input.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/travel_expens_display.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/travel_expens/__bigger.png")">
<script src="@routes.Assets.at("javascripts/jquery/jquery-1.10.2.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery/jquery-ui-1.10.4.custom.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery/datepicker-ja.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/travel_expens.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery/jquery.ui.ympicker.js")" type="text/javascript"></script>

<script src="@controllers.travel_expens.routes.TravelExpensInput.javascriptRoutes" type="text/javascript"></script>